/* ============================================================================
  Base
===============================================================================
 General
-----------------------------------------------------------------------------*/
html { font-size:100%; }

body {
	color: #000;
	font-family: "Helvetica", Arial,sans-serif;
	position: relative;
	overflow:hidden;
}

#page {
	height: auto !important;
	width: 100%;
	min-height: 100%;
}



/*-------------------------------------------------------------------------------
 Typography
-------------------------------------------------------------------------------*/

h1,h2,h3,h4,h5,h6 { 
	font-weight: bold;
	font-family: "Gotham", Helvetica, Arial,sans-serif;
}


h1 { font-size: 18px; line-height: 18px; }
h2 { font-size: 18px; line-height: 18px;}
h3 { font-size: 11px; }
h4 { }
h5 { }
h6 { }

p {
	font-size: 12px;
	line-height: 16px;
	color: #595959;
}

.gr p{
	font-size: 11px;
}

strong  { font-weight: bold; }
em    { font-style: italic; }
small  { font-size: 11px; }

@font-face {
  font-family: 'Gotham';
    src: url('../font/gotham.eot');
    src: url('../font/gotham.eot?#iefix') format('embedded-opentype'),
         url('../font/gotham.woff') format('woff'),
         url('../font/gotham.ttf') format('truetype'),
         url('../font/gotham.svg#gotham') format('svg');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'gothamnarrowBold';
    src: url('../font/gothamnarrow-bold.eot');
    src: url('../font/gothamnarrow-bold.eot?#iefix') format('embedded-opentype'),
         url('../font/gothamnarrow-bold.woff') format('woff'),
         url('../font/gothamnarrow-bold.ttf') format('truetype'),  
         url('../font/gothamnarrow-bold.svg#gothamnarrowBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GothamNarrow-Medium';
    src: url('../font/gothamnarrow-medium.eot');
    src: url('../font/gothamnarrow-medium.eot?#iefix') format('embedded-opentype'),
         url('../font/gothamnarrow-medium.woff') format('woff'),
         url('../font/gothamnarrow-medium.ttf') format('truetype'),
         url('../font/gothamnarrow-medium.svg#gothamnarrow-medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

strong {
	font-weight: inherit;
}

/*-------------------------------------------------------------------------------
  1.4 Anchor & Buttons
-------------------------------------------------------------------------------*/
a,
a:active {
	-webkit-transition:color 200ms ease;
	-moz-transition:color 200ms ease;
	-o-transition:color 200ms ease;
	transition:color 200ms ease;
	color: #595959;
}

a:hover {
	color: #888;
}

/*-------------------------------------------------------------------------------
 Layout Classes
-------------------------------------------------------------------------------*/

.wrapper {
	height: auto;
	margin: 0 auto;
	width: 960px;
	padding: 0;
	z-index: 0;
	position:relative;
}

.wrapper:before,
.wrapper:after { content:""; display:table; clear:both;}
.wrapper { *zoom:1; }

/*-------------------------------------------------------------------------------
Content
-------------------------------------------------------------------------------*/

#content {
	width: 100%;
	z-index: 1;
	overflow:hidden;
}

/*-------------------------------------------------------------------------------
 Header
-------------------------------------------------------------------------------*/

#header {
	width: 100%;
	z-index: 0;
	position: fixed;
	top: 0;
	left: 0;
	height: 10px;
	z-index: 100;
	background: #2a2b2a;
	opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
}

#header .wrapper{
	position: relative;
	height: 15px;
}

.arrow {
	background:url("../images/arrow-point.png") no-repeat center bottom;
	position: absolute;
	bottom: -6px;
	left: 50%;
	margin-left: -12px;
	width: 24px;
	height: 16px;
}

/*-------------------------------------------------------------------------------
 Footer
-------------------------------------------------------------------------------*/

.footer {
	position: absolute;
	bottom: 0;
	height: 30px;
	background: #000;
	left: 0;
	width: 100%;
	z-index: 999;
	opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
}

.footer p{
	color: #666;
	font-size: 9px;
	line-height: 20px;
	float: right;
	margin-right: 20px;
}

.footer p a{
	color: #666;
	text-decoration: underline;	
}
.footer p a:hover {
	color: #888;
}

.copy{
	margin-top: -25px;
}

.mybutton{
	float: left;
	height: 30px;
	width: 100%;
}
.mybutton:hover span{
	color: #fff;
}

/*-------------------------------------------------------------------------------
	Menu
-------------------------------------------------------------------------------*/

#sub-nav {
	width: 120px;
	position: fixed;
	left: 50%;
	margin-left: -430px;
	top: 25px;
	z-index: 99;
	opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
}

#sub-nav ul {
	float: left;
	width: 100%;
}

#sub-nav ul li {
	display: block;
	float: left;
	width: 100%;
}

#sub-nav li a {
	font-family: "gothamnarrowBold", Helvetica, Arial,sans-serif;
	color: #D2D2D2;
	font-size: 14px;
	line-height: 21px;
}

.gr #sub-nav li a {
	font-family: "Gotham", Helvetica, Arial,sans-serif;
	font-weight: bold;
}

#sub-nav li a:hover,
#sub-nav li a.active {
	color: #606060;
}


/*-------------------------------------------------------------------------------
	Default Article
-------------------------------------------------------------------------------*/
.article{
  width: 100%;
  height: 100%;
	
}

.background {
	background-image: url(../images/myolivetree-bg-img03.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;


  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  z-index: 0;
  display: none;
}


/*
.big #article1 .background {
  -webkit-background-size: 120% auto;
  -moz-background-size: 120% auto;
  -o-background-size: 120% auto;
  background-size: 120% auto;
}


.big #article4 .background{
  -webkit-background-size: 150% 150%;
  -moz-background-size: 150% 150%;
  -o-background-size: 150% 150%;
  background-size: 150% 150%;
}


.big #article2 .background {
  -webkit-background-size: 130% 130%;
  -moz-background-size: 130% 130%;
  -o-background-size: 130% 130%;
  background-size: 130% 130%;
}
*/



#article1 .background {
	background-image: url(../images/myolivetree-bg-img01.jpg);
}

#article2 .background {
	background-image: url(../images/myolivetree-bg-img02.jpg);
}
#article4 .background {
	background-image: url(../images/myolivetree-bg-img04.jpg);
}

#article5 .background {
	background-image: url(../images/myolivetree-bg-img05.jpg);
}


.small .background{
	background-position: center 70%;
}

.large .text{
	height: 220px;

}

.text {
	top:10px;
	position: absolute;
	width: 100%;
	height: 100%;
	display:none;
	left: 0;
	z-index: 10;
	background: #fff;
	height: 190px;
}

.text article {
	margin-top: 15px;
	float: left;
	width: 740px;
	margin-left: 200px;
	height: 188px;
	overflow: hidden;
	z-index: 999;
}

.text article .num {
	color: #595959;
	font-size: 11px;
	font-weight: bold;
	height: 15px;
	left: 50%;
	margin-left: -5px;
	position: absolute;
	width: 10px;
	text-align: center;
}

.next-num {
	color: #666;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	width: 100%;
	margin-top:11px;
	z-index: 999;
	opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
}

.article .logo{
	top:225px;
	position: absolute;
	left: 50%;
	margin-left: -70px;
	z-index: 100;
	height: 103px;
	width: 120px;
	
	background:  no-repeat 0 0;
	background-image: url(../images/logo-black.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
}

.large .logo{
	top: 270px;
	height: 126px;
	width: 146px;
	background-image: url(../images/logo-black-big.png);

	margin-left: -85px;
}

.small .logo{
	height: 86px;
	width: 100px;
	margin-left: -50px;
}


.large #article2.article .logo{
	background-image: url(../images/logo-white-big.png);
}

#article2.article .logo{
	background-image: url(../images/logo-white.png);
}

#article2.article {
	background: #cfcfcf;
}

.text article h2 {
	margin-bottom: 3px;
}
.text article h3 {
	margin-bottom: 3px;
}
.text article p {
	float: left;
	margin-bottom: 6px;
	text-align: left;
	width: 100%;
}

.text article a {
	color:#595959;
	text-decoration: none;
}

.text article a:hover {
	color:#999;
}

.text article a:hover {
	color: #888;
}

.text article .cols p {
	float: left;
	width: 180px;
	margin-right: 30px;
	height: 142px;
	overflow: hidden;
}

.loader-container {
	width: 33px;
	height: 33px;
	position:absolute;
	margin-top: -11px;
	margin-left: -11px;
	top:50%;
	left:50%;
	background: url("../images/progress.gif") no-repeat 0 0;
	opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
}

/*-------------------------------------------------------------------------------
 Share menu
-------------------------------------------------------------------------------*/

.share {
	float: left;
	width: 100%;
	margin-top: 10px;
}

.share a,
.share p{
	float: left;
	color: #D2D2D2;
	font-size: 12px;
	font-weight:bold;
	height: 10px;
	line-height: 10px;
}

.share a {
	width: 13px;
	background-image: url(../images/icons-share.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	margin-left: 3px;
}

.share a.mail {
	margin-left: 7px;
}

.share a.mail:hover {
	background-position: 0 -10px;
}

.share a.fb {
	background-position: -13px 0;
}

.share a.fb:hover {
	background-position: -13px -10px;
}

.share a.tw {
	background-position: -26px 0;
}

.share a.tw:hover {
	background-position: -26px -10px;
}

/*-------------------------------------------------------------------------------
 Lang menu
-------------------------------------------------------------------------------*/

.lang {
	float: left;
	width: 100%;
	margin-top: 10px;
}

.lang a{
	float: left;
	font-size: 11px;
	float: left;
	color: #D2D2D2;
	font-weight: bold;
	margin-right: 5px;
}

.lang a.active,
.lang a:hover{
	color: #606060;

}

/*-------------------------------------------------------------------------------
 Gallery
-------------------------------------------------------------------------------*/

.gallery {
	position: absolute;
	top: 200px;
	width: 490px;
	height: 490px;
	left: 50%;
	margin-left: -245px;
}

.large .gallery{
	top: 350px;
}


.gallery .flexslider{
	width: 490px;
	height: 490px;
}

.large .cross{
	top: 285px;
}

.cross {
	position: absolute;
	top: 200px;
	left: 50%;
	width: 44px;
	height: 44px;
	margin-left: 250px;
	z-index: 999;
}
.cross a{
	background: url("../images/cross.png") repeat scroll 0 0 transparent;
	height: 44px;
	width: 44px;
	float: left;
}

.cross a:hover {
	opacity: 0.6;
}

.minus {
	position: absolute;
	top: 50px;
	width: 44px;
	height: 44px;
	z-index: 999;
	right: 50px;
}

.minus a{
	background: url("../images/minus.png") repeat scroll 0 0 transparent;
	height: 44px;
	width: 44px;
	float: left;
}

.minus a:hover {
	opacity: 0.6;
}

.large #big-gallery .zoom{
	margin: 180px auto 0;
}


#big-gallery{ 
	display: none;
	background: white;
	position: absolute;
	top: 49px;
	width: 960px;
	height: 700px;
	left: 50%;
	margin-left: -490px;
	z-index: 999;
}

#big-gallery .zoom {
	margin: 0 auto;
	width: 490px;
	height: 490px;

}

#big-gallery .flex-direction-nav .flex-prev {
	left: -90px;
}

#big-gallery .flex-direction-nav .flex-next {
	right: -90px;
}

.award_new_york {
	width: 80px;
	height: 80px;
	position: absolute;
	bottom: 35px;
	left: 50%;
	margin-left: -510px;
	background: url(../images/newyork.png) no-repeat 0 0;
	
	opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	z-index: 15;
}

.award_new_york:hover {
	background: url(../images/newyork.png) no-repeat 0 bottom;

}

.award_japan {
	width: 80px;
	height: 80px;
	position: absolute;
	bottom: 35px;
	left: 50%;
	margin-left: -430px;
	background: url(../images/japan.png) no-repeat 0 0;
	
	opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	z-index: 15;
}

.award_japan:hover {
	background: url(../images/japan.png) no-repeat 0 bottom;

}

.award {
	width: 80px;
	height: 80px;
	position: absolute;
	bottom: 35px;
	left: 50%;
	margin-left: -350px;
	background: url(../images/award.png) no-repeat 0 0;
	
	opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	z-index: 15;
}

.award:hover {
	background: url(../images/award.png) no-repeat 0 bottom;

}

.sub-menu{
	height: 0;
}

#sub-nav li .sub-menu div{
	font-size: 13px;
	line-height: 19px;
	font-family: "gothamnarrowBold", Helvetica, Arial,sans-serif;
	color: #D2D2D2;
	float: left;
	width: 100%;
	display: none;
	opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	
}

#sub-nav li .sub-menu div:hover,
#sub-nav li .sub-menu div.active {
	color: #606060;
	cursor: pointer;
}

#olives{
	display: none;
	opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
}